</block>
<extend name="./Public/base" />
<block name="main-right">
<el-table :data="tableData" style="width: 100%">
  <el-table-column
    type="selection"
    width="55">
  </el-table-column>
  <el-table-column
    prop="name"
    label="姓名"
    width="120"></el-table-column>
  <el-table-column
    prop="address"
    label="地址"
    width="120"></el-table-column>
 
</el-table>

<el-dialog id="modal" v-model="visible" title="Hello world">
  <p>欢迎使用 Element</p>
</el-dialog>

<script>
  new Vue({
    el: '#app',
    data: {
      visible : function(){
          return { visible: false }
      },
      tableData:[
        { name: '路西', address: '中国广东广州天河区花城大道19号' },
        { name: '大飞', address: '广东广州越秀区广州大道中' },
      ]
    }
  });

  // new Vue({
  //     el: '#app',
  //     data: function(){
  //       return { visible: false }
  //     }
  //   })
</script>
</block>