<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title></title>
	<!-- <script type="text/javascript" src="__JS__/jquery.min.js"></script> -->
	<script type="text/javascript" src="__JS__/vue/dist/vue.js"></script>
	<!-- <script type="text/javascript" src="__JS__/radon-ui/dist/radon-ui.js"></script>
	<script type="text/javascript" src="__JS__/radon-ui/dist/radon-ui.css"></script> -->
	<!-- vue 下拉刷新加载插件 -->
	<!-- <script type="text/javascript" src="__JS__/vue-scroller/dist/vue-scroller.min.js"></script> -->
	<script src="./node_modules/vue_scroll/vue-drapload.js"></script>
</head>
<body>
<div id="app">
	
</body>
</html>