<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href="https://www.example.com" class="popup">Example</a>
<script type="text/javascript">
	window.onload=function(){
		if(!document.getElementsByTagName) return;
		var links = document.getElementsByTagName('a');
		for (var i = 0; i < links.length; i++) {
			console.log(links[i].getAttribute('class'));
			if (links[i].getAttribute('class')=='popup') {
				// console.log(links[i].getAttribute('href'));
				links[i].click=function(){
					popUp(links[i].getAttribute('href'));
					return false;
				}
			}
		}
	}

	function popUp(href) {
		// window.alert(href);
		window.open(href, 'popup', );
	}
</script>
<h1>require.js VS sea.js</h1>

<h1>React.js</h1>

</body>
</html>