<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		table tr td{width: 100px;height:60px;text-align: center;}
		img{width: 108px;height: 34px;}
	</style>
</head>
<body>
<div>
	<table>
		<tr>
			<td>视频</td>
			<td><a href="https://www.douyu.com/" target="_blank"><img src="https://shark.douyucdn.cn/app/douyu/res/com/logo.png"/></a></td>
			<td><a href="http://www.huya.com/"><img src="http://a.dwstatic.com/huya/main/img/logo_index_new.jpg"></a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>社交</td>
			<td><a href="https://www.zhihu.com/" target="_blank"><img class="img" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2657539485,3858778876&fm=58&s=79428856C4B42831443E1ED10300D099"/></a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>新闻</td>
			<td><a href="http://www.ifeng.com/" target="_blank"><img class="img" src="http://y0.ifengimg.com/ifeng/index/20150921/ifengLogo.png"/></a></td>
		</tr>
	</table>
</div>
</body>
</html>